.aboutus-section {
  width: 100%;          
  padding: 35px 0;
  margin-top: -200px;
  position: relative;
  z-index: 2;
}

.about-us {
  width: 50%;          
  max-width: 1200px;    
  margin: 0 auto;       
}

.about-us h1 {
  margin-bottom: 20px;   
  color: #0A6CB4;
}

.about-us p {
    font-size: larger;
    text-align: justify;
    line-height: 1.5;
    color: black;
}

