.aboutus-section {
  width: 100%;          
  padding: 80px 0;
}

.about-us {
  width: 50%;          
  max-width: 1200px;    
  margin: 0 auto;       
}


.about-us h1 {
  margin-bottom: 20px;   
  color: #334155;
}

.about-us p {
    font-size: larger;
    text-align: justify;
    line-height: 1.5;
    color: #334155;
}

