.navbar {
    padding: 20px 0px;
    display: flex;                      /* Turns items into flex and responsive layout */
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #005f8f;
    font-size: 18px;
}

.navbar-menu li {
    cursor: pointer;
    position: relative;
}

/* underline effect */
.navbar-menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

/* on hover */
.navbar-menu li:hover::after {
    width: 100%;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #005f8f;
    border: 1px solid #005f8f;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;       /* Make background color change smoothly */
}

.navbar button:hover {
    background-color: #005f8f;
    color: white
}
