.navbar {
    padding: 8px 4%;
    display: flex;                      /* Turns items into flex and responsive layout */
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.navbar .profile {
    width: 40px;
    border-radius: 50%;
}

.navbar h2 {
    font-size: 20px;
    color: #a9a9a9;
}