/* Define global styles that affect the entire web */
/* Imported once in main.jsx */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Apply styles to all elements */
*{
  padding: 0;              /* Removes default inner spacing */
  margin: 0;               /* Removes default outer spacing */
  box-sizing: border-box;  /* Include padding and border in element size */
  font-family: Outfit;
}

/* Ensure the body takes at least the full viewport height */
body{
  min-height: 100vh;
}

/* Style all links */
a{
  text-decoration: none;  /* Remove underline from links */
  color: inherit;         /* Inherit text color from parent */
}

.app{
  width: 100%;
  margin: auto;
  background-color: #FDFDFE;
}

html {
  scroll-behavior: smooth;
}

.steps-info-section {
  display: flex;
  gap: 50px;
  width: 100%;
  padding: 80px 0;
}

.steps-info-section > * {
  flex: 1;
}